
A.ob_a { FONT: 8pt tahoma; COLOR:white; TEXT-DECORATION: underline;}

td.ob_td {VERTICAL-ALIGN: middle; FONT: 8pt Tahoma; COLOR:ffffff; height:14px;}

td.ob_ic {width:14px; vertical-align:top; height:14px; FONT: 8pt Tahoma;}

table.ob_zz {margin:1px; border:0; cursor:pointer;}

img.ob_ic {width:14px;}