
A.ob_a	{FONT: 8pt Tahoma; COLOR:99ccee; TEXT-DECORATION: none;}

td.ob_td	{color:ffffff; FONT: 8pt Tahoma; height:16px; vertical-align:middle;}

td.ob_ic 	{FONT: 8pt Tahoma; height:16px; width:19px; vertical-align:top;}

