
a.ob_a { FONT: 8pt verdana; COLOR:#000000; TEXT-DECORATION: none;}

td.ob_td {VERTICAL-ALIGN: middle; FONT: 8pt verdana; COLOR:000000; height:16px;}

td.ob_ic {width:14px; vertical-align:top; height:16px; FONT: 8pt verdana;}

table.ob_zz {margin:1px; border:0; cursor:pointer;}

img.ob_ic {widht:19px;}