
A.ob_a { FONT: 10px verdana; COLOR:4149a1; darkslateblue; 0000ff; royalblue; TEXT-DECORATION: none;}

td.ob_td {VERTICAL-ALIGN: middle; FONT: 10px VERDANA; COLOR:navy; height:9px;}

td.ob_ic {width:9px; height:1px; vertical-align:top; text-align:right; FONT: 10px verdana;}

table.ob_zz {border:0; cursor:pointer;}

img.ob_ic {width:9px;}