
A.ob_a { FONT: 8pt tahoma; COLOR:#3333cd; TEXT-DECORATION: none;}

td.ob_td {VERTICAL-ALIGN: middle; FONT: 8pt Tahoma; COLOR:navy; height:16px;}

td.ob_ic {width:16px; vertical-align:top; height:16px; FONT: 8pt Tahoma;}

table.ob_zz {margin:1px; border:0; cursor:pointer;}

img.ob_ic {width:16px;}